.container-fluid{
    display:flex;
    justify-content:center;
    align-items:center;
}

.top{
    background-color:#96C9F4;
}

.title{
    color:white;
}

footer{
    background-color:#0F67B1;
}

#footer-text{
    color:white;
    text-align:center;
}